
<div class="changePassword pt_40 pb_40">
    <section class="skin-border tlb_top_line  w-inner bg-white ">

        <nav class=" d-flex justify-content-between align-items-center">
            <div class="bg skin-back"></div>
            <p class=" skin-padding font_15 font-weight-bold c_title ">理财交易密码更改</p>
        </nav>


        <!-- 添利宝 -->
        <article  class="bg-white skin-padding  font-weight-bold">
            <h1 class="skin-padding">【 添利宝 】工商银行为企业客户量身定做的一款具有现金管理和投资理财服务功能的产品。</h1>
            <h2 class='color_999 skin-padding line_26'>★ 安全稳健：PR1级理财产品，业绩比较基准4.0%。<br/>★ 申购便利：每个工作日开放时间申购实时确认起息。<br/> ★ 即时赎回：开放日开放时间赎回资金实时到账，单个客户最大持有金额2亿元。</h2>


        </article>
        <!-- 签约及购买信息 -->
        <div class="sign_formBox bg-white">
            <form name="signForm">

                <div class="form-group row mb_40">
                    <label for="oldPassword" class="pl-0 col-2 col-form-label mr-3  text-right">原密码</label>
                    <div class="col-9  p-0">
                        <input type="password" class="form-control" id="oldPassword" placeholder="请输入原先6位密码">
                    </div>
                </div>


                <div class="form-group row mb_40">
                    <label for="newPassword" class="pl-0 col-2 col-form-label mr-3  text-right">新密码</label>
                    <div class="col-9 p-0">
                        <input type="password" class="form-control" id="newPassword" placeholder="请输入6位带有字母（分大小写）数字组合密码">
                    </div>
                </div>


                <div class="form-group row mb_10">
                    <label for="confirmPassword" class="pl-0 col-2 col-form-label mr-3  text-right">确认密码</label>
                    <div class="col-9  p-0">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="请再次确认新密码">
                    </div>
                </div>

                <div class="form-group row mb_40">
                    <label class="pl-0 col-2 col-form-label mr-3  text-right"></label>
                    <div class="col-9 pr-0 line_20 color_999 sign_tips">
                        理财交易密码是身份认证的唯一密码，请妥善保管。
                    </div>
                </div>

            </form>
        </div>

        <footer class="pt-5 pb-5">
            <button type="button" class="w_300 margin_auto btn tlb_button text-white btn-lg btn-block skin-back font_16"    data-toggle="modal" data-target="#purchaseModal">确定</button>

        </footer>
    </section>

</div>
