
<div class="redemption pt_40 pb_40">
    <section class="skin-border tlb_top_line  w-inner bg-white ">

        <nav class=" d-flex justify-content-between align-items-center">
            <div class="bg skin-back"></div>
            <p class=" skin-padding font_15 font-weight-bold c_title ">“添利宝货币A”赎回</p>
        </nav>


        <!-- 添利宝 -->
        <article  class="bg-white skin-padding  font-weight-bold">
            <h1 class="skin-padding">【 添利宝 】工商银行为企业客户量身定做的一款具有现金管理和投资理财服务功能的产品。</h1>
            <h2 class='color_999 skin-padding line_26'>★ 安全稳健：PR1级理财产品，业绩比较基准4.0%。<br/>★ 申购便利：每个工作日开放时间申购实时确认起息。<br/> ★ 即时赎回：开放日开放时间赎回资金实时到账，单个客户最大持有金额2亿元。</h2>


        </article>
        <!-- 签约及购买信息 -->
        <div class="sign_formBox bg-white">
            <form name="signForm">



                <div class="form-group row mb_40">
                    <label for="accontName" class="pl-0 col-2 col-form-label mr-3 text-right">交易账户名</label>
                    <div class="col-9 p-0">
                        <input type="text" class=" form-control" id="accontName" value="李 **">
                    </div>
                </div>

                <div class="form-group row mb_40">
                    <label for="accontNo" class="pl-0 col-2 col-form-label mr-3 text-right">交易账号</label>
                    <div class="col-9 p-0">
                        <input type="text"  class=" form-control " id="accontNo"  placeholder="请输入">
                    </div>
                </div>



                <!--<div class="form-group row code mb_40">
                    <label for="money" class="pl-0 col-2 col-form-label mr-3  text-right">卡内余额</label>
                    <div class="col-9 p-0 d-flex justify-content-between">
                        <input type="text" class=" form-control skin-orange" id="money" placeholder="待查询">
                        <span class="skin-back text-white cursor_pointer">查询</span>

                    </div>
                </div>-->


                <div class="form-group row mb_40">
                    <label for="redeemMoney" class="pl-0 col-2 col-form-label mr-3  text-right">可赎回余额</label>
                    <div class="col-9 p-0">
                        <input type="text" class=" form-control skin-orange" id="redeemMoney"  value="1,000,000.00">
                    </div>
                </div>



                <div class="form-group row mb_10">
                    <label for="phone" class="pl-0 col-2 col-form-label mr-3  text-right">操作人员手机号</label>
                    <div class="col-9 p-0">
                        <input type="text"  class="form-control" id="phone" placeholder="请输入" >
                    </div>
                </div>

                <div class="form-group row mb_40">
                    <label class="pl-0 col-2 col-form-label mr-3  text-right"></label>
                    <div class="col-9 pr-0 line_20 color_999 sign_tips">
                        客户于每个开放日的开放时间内赎回，资金实时入账。如出现巨额赎回，有关赎回约定参见产品说明书。
                    </div>
                </div>

            </form>
        </div>

        <footer class="pt-5 pb-5">
            <button type="button" class="w_300 margin_auto btn tlb_button text-white btn-lg btn-block skin-back font_16"    data-toggle="modal" data-target="#purchaseModal">确定</button>

        </footer>
    </section>

</div>
