

<div class="redemptionSuccess tlb_desktop_success ">


    <section class="skin-border tlb_top_line  w-inner bg-white" >
        <div class="text-center">
            <!-- icon -->
            <i class="iconfont icon-icon-test skin-color"></i>
            <p class="tips">添利宝货币A赎回成功</p>
            <p>赎回金额
                <span class="skin-color">100,000.00</span>元</p>
            <h1 class="text-left color_666 font_16 ">
                您的赎回款正常情况下将于2018-06-25日 08:00 左右入账您的协议卡号中。
            </h1>
            <p  class="text-left  color_666 font_16"> 转入卡号：6222 **** **** **** 297</p>
            <button type="button" class="btn tlb_button text-white btn-lg btn-block skin-back">返回</button>
        </div>
    </section>


</div>
