.redemptionSuccess {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.redemptionSuccess>div.text-center {
    padding: 0 12px;
}

.redemptionSuccess>div>h2 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
}

.redemptionSuccess>div>p {
    margin-top: 35px;
    margin-bottom: 10px;
}

.redemptionSuccess>div>h1 {
    letter-spacing: 1px;
    padding: 2px 15px;
    line-height: 40px;
    margin-bottom: 80px;
    color: #666;
}

.redemptionSuccess>div>button {
    margin-bottom: 80px;
}

.redemptionSuccess>div>i {
    font-size: 80px;
}