.signContracts .c_formBox>h1 {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0 5px 0;
}

.signContracts>article {
    margin-bottom: 12px;
    line-height: 24px;
    padding-bottom: 20px;
}

.signContracts>article>h1 {
    padding: 15px 0 20px;
    line-height: 24px;
}

.signContracts .c_formBox .form-control {
    color: #666;
}

.signContracts .code.row span {
    line-height: 32px;
}

.signContracts .c_tips {
    padding-top: 20px;
    padding-bottom: 5px;
}

.signContracts .c_msg {
    padding-bottom: 20px;
}