
<div class="redemptionSuccess tlb_success">
    <div class="text-center">
        <!-- icon -->
        <i class="iconfont icon-icon-test skin-color"></i>
        <h2>添利宝货币
            <span>A</span>赎回成功</h2>
        <p>赎回金额
            <span class="skin-color">100,000.00</span>元</p>
        <h1 class="text-left">您的赎回款正常情况下将于2018-06-25日08:00左 右入账您的协议卡号中。转入卡号：
            <span>6222 **** **** **** 297</span>
        </h1>
        <button type="button" class="btn tlb_button text-white btn-lg btn-block skin-back">返回</button>
    </div>
</div>
