
<div class="signFailure pt_40 pb_40">
    <section class="skin-border w-inner bg-white ">
        <nav class="font_18 pl-3 font-weight-bold"> 添利宝 <span class=" ml-2 color_666 font_14">货币A001（稳定型）</span> </nav>
        <h1 class="amountConfirmation text-center color_999 pt_40 pb_40 font_15"> <span class="color_333 font_34 mr-2">100,000.00</span>确认中金额（元）</h1>
        <div class="purchaseInfo">
            <div class="bg skin-back"></div>
            <div class="row  pt_30 pb_30 text-center">
                <div class="col">
                    <h5 class="skin-color font_15 mb-2">4.20%</h5>
                    <h6 class="color_999">参考年华收益率</h6>
                </div>
                <div class="col">
                    <h5 class="color_333 font_15 mb-2">--</h5>
                    <h6 class="color_999">昨日收益（元）</h6>
                </div>
                <div class="col">
                    <h5 class="color_333 font_15 mb-2">--</h5>
                    <h6  class="color_999">累计收益（元）</h6>
                </div>
                <div class="col">
                    <h5 class="color_333 mb-2 font_15">T+1日（交易日）</h5>
                    <h6 class="color_999">收益起始日</h6>
                </div>
            </div>
        </div>
        <!--进度条-->
        <div class="failProcess mt-5">
            <div class="progress">
                <div class="line skin-border color_666">
                    <h5>签约</h5>
                    <h6 class="color_999">07月06日   03:00</h6>
                </div>
                <div class="line ">
                    <h5 class="skin-orange">签约失败</h5>
                    <h6 class="color_999">07月08日   03:00</h6>
                </div>
                <div class="line color_999 text-right">
                    <h5>产生收益</h5>
                    <h6>07月09日   03:00</h6>
                </div>
                <div class="progress-bar skin-back" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <h1 class="color_666 mt-5 signDate">签约日期：<span class="color_999">2018-07-06</span></h1>
        <h1 class="color_666 mt-4 signDate">签约账号：<span class="color_999">6214 **** **** 2819</span></h1>
        <div class="clearfix signBtnBox pb-5">
            <h1 class="color_666 mt-4 float-left">协议状态：<span class="skin-orange">不正常</span></h1>
            <button type="button" class="skin-back btn float-right text-white">重新签约</button>
        </div>
    </section>

    <footer class="color_999 pt-4">
        温馨提示：<span>您的签约不成功,申购资金已退回签约账户，原因：未知</span>
    </footer>

</div>
