
<div class="purchaseSuccess tlb_desktop_success ">


    <section class="skin-border tlb_top_line  w-inner bg-white" >
        <div class="text-center">
            <!-- icon -->
            <i class="iconfont icon-icon-test skin-color"></i>
            <p class="tips">添利宝申购指令提交成功</p>
            <p>申购金额
                <span class="skin-color">100,000.00</span>元</p>
            <h1 class="text-center color_666 font_16">
                本次申购交易和协议签约处理将于<span>2018</span>年<span>6</span>月<span>28</span>日确认，确认成功当日起计算收益
            </h1>
            <button type="button" class="btn tlb_button text-white btn-lg btn-block skin-back">返回</button>
        </div>
    </section>


</div>
