<header class="bg-white">
    <div class="head_top w-inner d-flex flex-row-reverse color_999">
        <div class="p-2"><i class="iconfont skin-color icon-shouji mr-1 ml-1 cursor_pointer"></i>手机版</div>
        <div class="p-2 line">|</div>
        <div class="p-2 cursor_pointer">帮助中心</div>
        <div class="p-2 line">|</div>
        <div class="p-2">欢迎<span>ABC***集团</span>来到添利宝 <span class="cursor_pointer">[ 退出 ]</span> </div>
    </div>

    <div class="head_bottom d-flex w-inner head_bottom">
        <div class="p-2">Flex item</div>
        <div class="p-2">Flex item</div>
        <div class="ml-auto p-2"> <i class="iconfont icon-icon"></i> 我的账户</div>
    </div>
</header>