
    <div class="changePassword">
        <p class="c_title">理财交易密码更改</p>
        <div class="c_formBox bg-white">
            <form>
                <div class="form-group row">
                    <label for="oldPassword" class="col-3 col-form-label">原密码</label>
                    <div class="col-9  p-0">
                        <input type="password" class="form-control" id="oldPassword" placeholder="请输入原先6位密码">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="newPassword" class="col-3 col-form-label">新密码</label>
                    <div class="col-9 p-0">
                        <input type="password" class="form-control" id="newPassword" placeholder="请输入6位带有字母（分大小写）数字组合密码">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="confirmPassword" class="col-3 col-form-label">确认密码</label>
                    <div class="col-9  p-0">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="请再次确认新密码">
                    </div>
                </div>
            </form>
        </div>
        <p class="c_tips">※ 温馨提示</p>
        <p class="c_msg">
            理财交易密码是身份认证的唯一密码，请妥善保管。
        </p>
        <div class="skin-padding pt_30">
            <button type="button" class="btn tlb_button text-white btn-lg btn-block skin-back">确认</button>
        </div>

    </div>

